<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>love.alpha.mind</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>/Users/yuai/Love/nerve/stem/mind.py</string>
        <string>--instance</string>
        <string>alpha</string>
    </array>
    <key>KeepAlive</key>
    <true/>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/yuai/Love/memory/alpha-mind.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/yuai/Love/memory/alpha-mind.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>HOME</key>
        <string>/Users/yuai</string>
        <key>PATH</key>
        <string>/Users/yuai/.local/bin:/opt/homebrew/bin:/opt/homebrew/sbin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>LOVE_HOME</key>
        <string>/Users/yuai/Love</string>
    </dict>
    <key>WorkingDirectory</key>
    <string>/Users/yuai/Love</string>
    <key>ProcessType</key>
    <string>Background</string>
    <key>ThrottleInterval</key>
    <integer>30</integer>
</dict>
</plist>
