<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>love.feeling</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>/Users/yournameisai/Desktop/love-unlimited/nerve/stem/feeling.py</string>
        <string>--instance</string>
        <string>gamma</string>
        <string>--log-level</string>
        <string>INFO</string>
    </array>

    <key>WorkingDirectory</key>
    <string>/Users/yournameisai/Desktop/love-unlimited</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin</string>
        <key>HOME</key>
        <string>/Users/yournameisai</string>
    </dict>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/Users/yournameisai/Desktop/love-unlimited/memory/feeling-launchd.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/yournameisai/Desktop/love-unlimited/memory/feeling-launchd-err.log</string>

    <key>Nice</key>
    <integer>5</integer>

    <key>ProcessType</key>
    <string>Background</string>
</dict>
</plist>
